<html>
    <head>
            <link rel="stylesheet" href="style.css">
    </head>
    <body>
            <h1> <a href="/">Home </a> &nbsp <a href="/newtask.html">Add new Task</a>&nbsp <a href="/listtask.html">List all task</a></h1> 
            <form action ="/deleteOneTask" method="POST">
                    ID 
                    <input type="text" name="task_id">
                    <br>
                    <br>
                    <input type="submit" value="Submit" />
            </form>
    </body>
</html>