<html>
    <head>
            <style> 
                
                    table,th,td {
                        border: 1px solid black;
                    }

                    
            </style>
            <link rel="stylesheet" href="style.css">
    </head>
    <body>
            <h1> <a href="/">Home </a>&nbsp<a href="listdev.html">List all Developer</a> &nbsp <a href="/newtask.html">Add new Task</a>&nbsp<a href="/deletetask.html">Delete task</a>&nbsp<a href="/deletecompleted">Delete Completed</a>&nbsp<a href="/updatetask.html">update</a></h1>
        <table>
                <tr>
                        <td>task id</td>
                        <td>Name</td>
                        <td>Assigned to</td>
                        <td>Due Date</td>
                        <td>Task Status</td>
                        <td>Description</td>
                </tr>
                <%for (let i = 0 ; i< task.length; i++){ %>
                    <tr>
                        <td>
                            <%= task[i].taskID%>
                        </td>
                        <td>
                            <%= task[i].taskName%>
                        </td>
                        <td>
                            <%= task[i].assignedTo%>
                        </td>
                            
                        <td>
                            <%= task[i].dueDate%>
                        </td>
                        <td>
                            <%= task[i].taskStatus%>
                        </td>
                        <td>
                            <%= task[i].taskDesc%>
                        </td>

                    </tr>
                    <%} %>
        </table>
            
            
    </body>
</html>