<html>
    <head>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <h1><a href="/">Home </a> &nbsp<a href ="/listtask.html">List all task</a></h1>
        <form action = "/updatetask" method="post">
            ID
            <input type="text" name="task_id">
            <br>Task Status 
            <select name="status">
                <option value="InProgress">In progress</option>
                <option value="Complete">Completed</option>
             </select>

            <br>
            <br>
            <button type="submit">submit</button>

        </form>
    </body>

</html>